{{#if color_filter}}
<h1>Flowers ({{color_filter}})</h1>
{{else}}
<h1>Flowers</h1>
{{/if}}


<form action="/" method="get">
<select name="color_filter">
{{#each colors}}
<option value="{{this}}">{{this}}</option>
{{/each}}
</select>
<button type="submit">Choose Color</button>
</form>


<ul>
{{#each flowers}}
	<li class="flower-item">
		<a href="/details/{{this.name}}">{{this.name}}</a>
		<span><a class="delete" href="/delete/{{this.name}}"> - delete</a></span><br>
	</li>
{{/each}}
</ul>

{{#if color_filter}}
<a href="/">Clear selection</a>
{{/if}}


<h2>Add New Flower</h2>
<form action="/addFlower" method="POST">
<p>Name<br>
<input type="text" name="name" placeholder="Name">
</p>

<p>Color<br>
<input type="text" name="color" placeholder="Color" required></p>

<p>Wikipedia Page<br>
<input type="text" name="wiki" placeholder="Wikipedia Page" required></p>

<button type="submit">Save</button>
</form>