<h1>Lake Runs</h1>

<div>

  <h3>Add new lake run</h3>

  <div class="messages">
    {{#each messages.error}}
      <p class="error_msg">{{this}}</p>
    {{/each}}
  </div>

  <form action="/" method="POST">
    Lake Name: <input name="name" type="text" required>
    <br>
    Start: <input name="start" type="datetime-local" required>
    <br>
    Finish: <input name="finish" type="datetime-local" required>
    <br>
    <input name="addRun" type="submit" value="Add new run">
    <br>
  </form>

</div>

    <h3>Your Runs & Times</h3>
  
  {{# each lakes}}
      <p>Name: {{this.name}}</p>
       
       <ul>
      {{#each this.run}}
        <li>Run Stats:
          <ul>
            <li>
              Start: {{dateFormatter this.start}}
            </li>
            <li>Finish: {{dateFormatter this.finish}}</li>
            <li>Duration: {{timeFormatter this.duration}}</li>
          </ul>
        </li>
      {{else}}
            <li>No runs recorded</li>
      {{/each}}
       </ul>



      <hr>

  {{else}}
      <p>No runs recorded</p>
  {{/each}}

  <p>Add a new run</p>

      <form action="/add" method="POST">
        <select name="_id" type="text" required>
          <option>Select a lake</option>
          {{# each lakes}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}  
        </select>
        <br>
        Start:<br>
        <input name="start" type="datetime-local" required>
        <br>

        Finish:<br>
        <input name="finish" type="datetime-local" ><br>
        <input name="add" type="submit" value="Add new run" required>
      </form>
</div>
